* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: darkcyan;
  width: 50%;
  height: 50%;
}

.tip_header {
  text-align: center;
}
.mid_box {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.left_box {
  margin-top: 16px;
  margin-left: 8px;
  flex-grow: 1;
}

.left_box > h3 {
  font-size: 24px;
  font-weight: normal;
}

#amount {
  height: 20px;
  width: 30%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 4px 0;
  margin-bottom: 12px;
  background: transparent;
}

.entry_section,
.entry_section > button {
  margin-top: 12px;
  padding: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.entry_section > p {
  font-size: 24px;
}

.right_box {
  height: 150px;
}

.right_box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
